In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import missingno as msno
import warnings
warnings.filterwarnings('ignore')

In [13]:
#def generate_missing_data(df, rate):
  # Calculer le nombre de données manquantes
    nb_manquants = int(rate * df.shape[0] * df.shape[1])
  # Générer des indices aléatoires pour les données manquantes
    indices_manquants = np.random.choice(df.shape[0] * df.shape[1], nb_manquants, replace=False)
  # Remplacer les données manquantes par NaN
    for indice in indices_manquants:
        i = indice // df.shape[1]
        j = indice % df.shape[1]
        df.iloc[i, j] = float("NaN")
    return df
# Initialiser le DataFrame
df =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/2018-2022_paludisme_SP.csv")
# Générer des données manquantes
#df_with_missing_data = generate_missing_data(df, 0.05)
# Afficher le DataFrame avec des données manquantes
#print(df_with_missing_data)

IndentationError: unexpected indent (2157885351.py, line 3)

In [11]:
nb_nan = df_with_missing_data.isna().sum().sum()
print(nb_nan)

143

In [12]:
#df_with_missing_data.to_csv("C:/Users/Bag's/Downloads/donnees/projet2/5%/DM_5_2018-2022_paludisme_SP.csv", index=False)

In [35]:
#df5 =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/20%/DM_20_2018-2022_paludisme_SP.csv")
#df5

In [58]:
#dfw18 =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/date/DATE_2018.csv")
#dfw18.head()

In [41]:
#dfw19 =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/date/DATE_2019.csv")
#dfw19

In [43]:
# Concatenate the sum to the last row
#concte1= dfw18.append(dfw19)
#concte1

In [45]:
#dfw20 =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/date/DATE_2020.csv")
#dfw20

In [47]:
# Concatenate the sum to the last row
#concte2= concte1.append(dfw20)
#concte2

In [49]:
#dfw21 =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/date/DATE_2021.csv")
#dfw21

In [51]:
# Concatenate the sum to the last row
#concte3= concte2.append(dfw21)
#concte3

In [53]:
#dfw22 =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/date/DATE_2022.csv")
#dfw22

In [55]:
# Concatenate the sum to the last row
#concte4= concte3.append(dfw22)
#concte4

In [57]:
#concte4.to_csv("C:/Users/Bag's/Downloads/donnees/projet2/date/2018-2022.csv", index=False)

In [71]:
dfw =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/5%/DM_5_2018-2022_paludisme_SP.csv")
dfw

,Bankim,Banyo,Belel,Dang,Djohong,Meiganga,Ngaoundal,Ngaoundere_Rural,Ngaoundere_Urbain,Tibati,Tignere
0,177.0,154.0,120.0,93.0,156.0,320.0,NaN,306.0,536.0,180.0,176.0
1,143.0,143.0,175.0,134.0,174.0,283.0,206.0,266.0,NaN,182.0,193.0
2,163.0,166.0,147.0,108.0,208.0,227.0,211.0,257.0,473.0,206.0,230.0
3,136.0,136.0,118.0,122.0,167.0,210.0,220.0,257.0,449.0,216.0,258.0
4,122.0,144.0,134.0,NaN,201.0,204.0,184.0,NaN,466.0,199.0,218.0
...,...,...,...,...,...,...,...,...,...,...,...
255,187.0,NaN,88.0,205.0,158.0,375.0,263.0,201.0,565.0,265.0,189.0
256,164.0,167.0,104.0,201.0,132.0,369.0,200.0,182.0,521.0,221.0,160.0
257,171.0,186.0,88.0,217.0,83.0,339.0,194.0,190.0,520.0,NaN,163.0
258,170.0,NaN,77.0,178.0,84.0,333.0,173.0,187.0,441.0,NaN,206.0
259,190.0,144.0,81.0,163.0,85.0,344.0,189.0,206.0,449.0,204.0,144.0

In [72]:
dfw1 =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/date/2018-2022.csv")

In [73]:
Concat= pd.concat([dfw1, dfw], axis=1)
#Concat

In [74]:
Concat.to_csv("C:/Users/Bag's/Downloads/donnees/projet2/5%/DM_5_2018-2022_paludisme_P.csv", index=False)

In [75]:
fw =pd.read_csv("C:/Users/Bag's/Downloads/donnees/projet2/5%/DM_5_2018-2022_paludisme_P.csv")
fw

,periodid,Bankim,Banyo,Belel,Dang,Djohong,Meiganga,Ngaoundal,Ngaoundere_Rural,Ngaoundere_Urbain,Tibati,Tignere
0,2018-01-07,177.0,154.0,120.0,93.0,156.0,320.0,NaN,306.0,536.0,180.0,176.0
1,2018-01-14,143.0,143.0,175.0,134.0,174.0,283.0,206.0,266.0,NaN,182.0,193.0
2,2018-01-21,163.0,166.0,147.0,108.0,208.0,227.0,211.0,257.0,473.0,206.0,230.0
3,2018-01-28,136.0,136.0,118.0,122.0,167.0,210.0,220.0,257.0,449.0,216.0,258.0
4,2018-02-04,122.0,144.0,134.0,NaN,201.0,204.0,184.0,NaN,466.0,199.0,218.0
...,...,...,...,...,...,...,...,...,...,...,...,...
255,2022-11-27,187.0,NaN,88.0,205.0,158.0,375.0,263.0,201.0,565.0,265.0,189.0
256,2022-12-04,164.0,167.0,104.0,201.0,132.0,369.0,200.0,182.0,521.0,221.0,160.0
257,2022-12-11,171.0,186.0,88.0,217.0,83.0,339.0,194.0,190.0,520.0,NaN,163.0
258,2022-12-18,170.0,NaN,77.0,178.0,84.0,333.0,173.0,187.0,441.0,NaN,206.0
259,2022-12-25,190.0,144.0,81.0,163.0,85.0,344.0,189.0,206.0,449.0,204.0,144.0